# Virtual Environment
.venv/
venv/
env/
ENV/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
/media
/static

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Project specific
ml/*.pkl
ML/model/
ml/speed_model.pkl
ml/encoders_speed.pkl
ml/speed_model_scaler.pkl
C:\Users\kriss\github\TrafficCongestionPredictor\ml\data\delhi_traffic_features.csv

# Node
node_modules/
dist/
build/
.env.local
.env.development.local
.env.test.local